# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
charset = utf-8
indent_style = tab
indent_size = 2
tab_width = 2
insert_final_newline = true
max_line_length = 200
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf

#Markdown
[*.md]
max_line_length = 0
trim_trailing_whitespace = false

# F# whitespace aware
[*.{fs,fsi,fsx}]
indent_style = space
indent_size = 2