@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// !! Google Fonts - https://fonts.google.com/specimen/Fredoka
@import url(https://fonts.googleapis.com/css2?family=Fredoka,200,700);

// !! Variables
$fontSystem: 'Fredoka', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
$headerMargin: 0rem 0rem 1rem;
$primaryColor: #B5F5EC;
$secondaryColor: #5B8C00;
$bgColor: #00474f;
$fontColor: #fff;
$highlightColor: #a0d911;
$headerFont: "Fredoka";

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: $fontSystem;
	color: $fontColor;
    margin: 0rem;
	height: 100vh;
	background: $bgColor;
}

p {
	font-weight: 400;
	font-size: 18px;
}

a {
	color: $primaryColor;
	text-decoration: none !important;
	&:hover {
		color: $highlightColor;
	}
}

h1 {
	font-family: $headerFont;
	font-size: 50pt;
	margin: $headerMargin;
}

h2 {
    font-family: $headerFont;
	font-size: 44pt;
	margin: $headerMargin;
}

.logo {
	width: 510px;
	@media (max-width: 575px) {
		width: 100%;
	}
}

.section-container {
    padding: 3rem 0rem 0rem;
}

.section-container-last {
    padding: 3rem 0rem;
}

.circle-container {
	width: 43px;
	height: 43px;
	background: $secondaryColor;
	border-radius: 22px;
	margin-left: 12px;

	> a > .icon {
		position: relative !important;
		left: -6px;
		top: 6px;
		color: $primaryColor;

		&:hover {
			color: $secondaryColor;
		}
	}

	> a > .linkedin {
		@extend .icon;
		left: -4px;
	}

	&:hover {
		cursor: pointer;
		background: $primaryColor;
	}
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 1.25rem;
}

.player-wrapper {
	position: relative;
	// !! Player ratio: 100 / (1280 / 720)
	padding-top: 56.25%;
	margin-bottom: 1rem;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}

.header {
    line-height: 1.25;
	font-weight: 600;
	font-size: 32px;
	color: $primaryColor;
}

a > .header {
	@extend .header;
	cursor: pointer;
	&:hover {
		color: $highlightColor
	}
}
